* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}
$fontAdvent: 'Advent Pro', sans-serif;
$fontMaven: 'Maven Pro', sans-serif;
$fontRAleway: 'Raleway', sans-serif;
$fontZedaya: 'Zeyada', cursive;
$fontGloock: 'Gloock', serif;
